pebble:
    suffix: .peb
    cache: false
    exposeRequestAttributes: true
spring:
    datasource:
        # store data in a persistent file, mode MySQL and enable server
        url: jdbc:h2:file:./data/application;MODE=MySQL;AUTO_SERVER=true
    sql:
        init:
            mode: always
    jpa:
        defer-datasource-initialization: true
        show-sql: true
        hibernate:
            ddl-auto: update
