:root {
    --primary-color: #271F30;
    --secondary-color: #4aa8e3;
    --background-color: #F0EFF4;
    --danger-color: #E01A4F;
    --base-space: 1rem;
    --base-space-small: calc(var(--base-space) / 2);
    --border-radius: var(--base-space-small);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-serif: 'Playfair Display', serif;
}

* {
    box-sizing: border-box;
}

::placeholder {
    color: rgba(39, 31, 48, 0.7);
}

html {
    font-size: 18px;
    font-family: var(--font-family-sans-serif);
    color: var(--primary-color);
    line-height: 1.4;
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e6f2e6, #c2d6c2);
    color: #333;
}

.login-box {
    width: 400px; /* Increased width */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-request {
    text-align: center;
    padding: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3b5323; /* Olive green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2d3e1e; /* Darker olive green */
}

.footer {
    width: 100%; /* Ensure it takes the full width */
    text-align: center;
    padding: 10px;
    background-color: #3b5323; /* Olive green */
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form__error {
    color: var(--danger-color);
    margin: var(--base-space-small) 0 0 0;
}

.form__input--error,
.form__textarea--error,
.form__select--error {
    border: 2px solid var(--danger-color);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    top: 10px; /* Position it from the top */
    right: 20px; /* Position it from the right */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
